  <div class="row flow-text center-align amber z-depth-1">
  <div class="col s4" style="padding: 10px 0px"><a href="#/" class="white-text"><strong>AL AZAR</strong></a></div>
    <div class="col s4 navegador_seleccionado" style="padding: 10px 0px"><a href="#/beer_range.html" class="white-text"><strong>PRECISI&Oacute;N</strong></a></div>
    <div class="col s4 help" style="padding: 10px 0px"><a href="#/ayuda.html" class="white-text"><strong>AYUDA</strong></a></div>
  </div> 
<!--<nav class="container">
    <div class="nav-wrapper">
      <form>
        <div class="input-field amber" style="margin-top:-1.8rem;">
          <input id="search" type="search" ng-model="searchFish">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>-->
<div class="container">

<form action="#">
  <p class="range-field">abvMAX: {{ui2.abvMax || '-'}}
    <input type="range" id="test5" min="0" max="33" ng-model="ui2.abvMax" />
  </p>
</form>
<form action="#">
  <p class="range-field">ibuMAX: {{ui.ibuMax || '-'}}
    <input type="range" id="test6" min="0" max="100" ng-model="ui.ibuMax"/>
  </p>
</form>
</div>  
<div class="row">
	<div class="card" ng-repeat="birra in birras | filter:searchFish | filter:ui | filter:ui2">
        <div class="card-content teal">
        <span class="card-title activator white-text">{{birra.name}}<i class="material-icons right">add</i></span>
        </div>
        <div class="card-action teal">
          <a><span style="font-size:1.1em;">ABV</span> <i class="material-icons">vertical_align_bottom</i>{{birra.abvMin || '0'}}% <i class="material-icons">vertical_align_top</i>{{birra.abvMax || '0'}}%</a> 
           <a><span style="font-size:1.1em;">IBU</span> <i class="material-icons">trending_down</i> {{birra.ibuMin || '0'}} <i class="material-icons">trending_up</i> {{birra.ibuMax || '0'}}</a>
        </div>
        <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">{{birra.name}}<i class="material-icons right">close</i></span>
        <p>{{birra.description || ' '}}</p>
        </div>
  
	</div>
</div>

