<p class="container flow-text">Ante la epidemia de cervecerías artesanales, tirale un nombre raro al barman y quedá cheeeto. Ahhh reee.</p>
        <div id="big_engine" class="row center-align amber-text text-darken-4">
            <i class="start_engine material-icons" ng-click="random_beer()" style="font-size:16em;">copyright</i>
        </div>
        <div id="small_engine" ng-click="random_beer_small()" class="row center-align amber-text text-darken-4" style="opacity:0;">
            <i class="start_engine2 material-icons" style="font-size:8em;">copyright</i>
        </div>
		<div class="row">
	        <div class="card_contenedor">
	        </div> 
        </div>